streamlit
pandas>=2.2.3
matplotlib
plotly
supabase
dotenv
gspread
oauth2client
streamlit-cookies-manager
streamlit-authenticator
streamlit_extras
streamlit_javascript
pandasql
st-gsheets-connection
graphviz
Authlib>=1.3.2
fpdf
python-dotenv
qrcode[pil]
pyzbar
pillow
opencv-python-headless
google-auth-oauthlib>=1.2.0
google-auth>=2.0.0
google-auth-httplib2>=0.2.0
google-api-python-client>=2.0.0
XlsxWriter